.about-info {
    padding: 6rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: space-around;
    background-color: #e0e0e0;
  }
  
  .about-info div {
    display: flex;
    align-items: center;
  }
  
  .about-info div .texts {
    display: grid;
    margin-left: 1.5rem;
  }
  
  .about-info div span {
    color: rgb(111, 110, 110);
  }
  
  .about-info div .upper {
    font-size: clamp(3.5rem, 4vw, 95px);
    font-weight: bolder;
  }
  
  .about-info div .lower {
    /* text-align: center; */
    font-size: clamp(1.1rem, 1.05vw, 25px);
    font-weight: bold;
  }
  
  .about-info div .icon-out {
    font-size: clamp(5.2rem, 5.3vw, 124px);
    color: #ff5f5f;
    /* margin-right: 1.5rem; */
  }
  
  @media screen and (max-width: 854px) {
    .about-info div .texts {
      margin-left: 3.5rem;
    }
  }