.infoEx {
    padding: 6rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: space-around;
    background-color: #e0e0e0;
}

.infoEx div {
    display: flex;
    align-items: center;
}

.infoEx div .texts {
    display: grid;
}

.infoEx div span {
    color: rgb(111, 110, 110);
}

.infoEx div .upper {
    font-size: 6rem;
    font-weight: bolder;
}

.infoEx div .lower {
    /* text-align: center; */
    font-size: 1.3rem;
    font-weight: bold;
}

.infoEx div .iconOut {
    font-size: 6.5rem;
    color: rgb(146, 74, 74);
    margin-right: 1.5rem;
}