@font-face {
  font-family: 'Mazius';
  src: url('../assets/mazius_italic.otf') format('opentype');
  /* Add other font properties if needed */
}

.landing {
  position: relative;
  height: 100vh;
}
.name {
  font-family: 'Mazius', sans-serif;
  font-size: larger;
}

.landing-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.landing-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: white;
}

.landing-container h1 {
  font-size: 15vh;
  margin-bottom: 20px;
}

.landing-container div {
  font-size: 5vh;
}
.animated-text {
  animation: fade-in 1.2s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}