.card {
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    width: 300px;
    transition: transform 0.3s;
    background-color: #e0e0e0;
    overflow: hidden;
  }
  
  .card:hover {
    transform: scale(1.05);
    background-color: #e0e0e0;
  }
  
  .title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .price {
    color: #303030;
    margin-bottom: 5px;
  }
  
  .description {
    font-size: 24px; 
    line-height: 1.4;
  }
  
  .cover-photo {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    max-height: 250px; 
  }
  